@mixin flexible($width: 100%) {
  display: flex;
  width: $width;
}

@mixin gridable($width: 100%) {
  display: grid;
  width: $width;
}

@mixin unmarkedList($padding: 0, $margin: 0) {
  margin: $margin;
  padding: $padding;
  list-style-type: none;
}

@mixin defaultButton() {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

@mixin defaultLink {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  position: relative;
}

@mixin maxWidth($paddingX: 60px) {
  box-sizing: border-box;
  max-width: calc($desktop-xxl + 2 * $paddingX);
  padding-left: $paddingX;
  padding-right: $paddingX;

  @media screen and (max-width: $desktop-3xl) {
    padding-left: 33px;
    padding-right: 33px;
  }

  @media screen and (max-width: $tablet-s) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin counterSizes($size: 330px) {
  @include flexible($size);
  height: $size;

  @media screen and (max-width: $desktop-xxl) {
    height: 300px;
    width: 300px;
  }

  @media screen and (max-width: $desktop-l) {
    height: 250px;
    width: 250px;
  }

  @media screen and (max-width: $desktop-m) {
    height: 182px;
    width: 182px;
  }

  @media screen and (max-width: $tablet-s) {
    height: 136px;
    width: 136px;
  }
}

@mixin cross($size: 96px, $color: $color-text, $thickness: 10px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: calc(($size - $thickness) / 2);
    left: 0;
    right: 0;
    height: $thickness;
    background-color: $color;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
