$color-background: #000;
$color-text: #fff;
$color-decorate: #c31e54;
$color-border: #666;

$font-size-default: 10px;
$font-size-text-xs: 1.2rem;
$font-size-text-s: 1.33rem;
$font-size-text-m: 1.6rem;
$font-size-text-l: 1.8rem;
$font-size-text-xl: 2.2rem;
$font-size-text-xxl: 2.3rem;
$font-size-text-3xl: 2.5rem;
$font-size-text-4xl: 2.6rem;
$font-size-text-5xl: 2.7rem;
$font-size-text-6xl: 3rem;
$font-size-text-7xl: 3.5rem;

$font-size-decorate-xs: 1.07rem;
$font-size-decorate-s: 1.11rem;
$font-size-decorate-m: 1.6rem;
$font-size-decorate-l: 2.27rem;
$font-size-decorate-xl: 2.68rem;

$font-size-subtitle-s: 2rem;
$font-size-subtitle-m: 4rem;
$font-size-subtitle-l: 5rem;
$font-size-subtitle-xl: 6.93rem;

$font-size-counter-xs: 5.22rem;
$font-size-counter-s: 7.05rem;
$font-size-counter-m: 10.09rem;
$font-size-counter-l: 12.33rem;
$font-size-counter-xl: 13.1rem;

$font-size-title-xs: 3.6rem;
$font-size-title-s: 9rem;
$font-size-title-m: 11rem;
$font-size-title-l: 13rem;
$font-size-title-xl: 15rem;
$font-size-title-xxl: 16.83rem;

$desktop-3xl: 1900px;
$desktop-xxl: 1800px;
$desktop-xl: 1600px;
$desktop-l: 1440px;
$desktop-m: 1280px;
$desktop-s: 1080px;
$tablet-l: 960px;
$tablet-m: 768px;
$tablet-s: 640px;
$smartphone: 480px;
$mobile-l: 360px;
$mobile-s: 320px;

$font-family-heading: 'DrukWide', Arial, sans-serif;
$font-family-text: 'Articul', Arial, sans-serif;

$mouse-device: '(hover: hover) and (pointer: fine)';
